'.source.c, .source.cpp, .source.objc, .source.objcpp':
  '#ifndef … #define … #endif':
    'prefix': 'def'
    'body': '#ifndef ${1:SYMBOL}\n#define $1 ${2:value}\n#endif'
  '#include <>':
    'prefix': 'inca'
    'body': '#include <${1:header}>$2'
  '#include ""':
    'prefix': 'incq'
    'body': '#include "${1:header}"$2'
  'main declaration':
    'prefix': 'maindec'
    'body': 'int main(int argc, const char** argv);'
  'main definition':
    'prefix': 'maindef'
    'body': 'int main(int argc, const char** argv)\n{\n\t${1:/* code */}\n\treturn ${2:0};\n}'
  'for loop':
    'prefix': 'for'
    'body': 'for (${1:type} ${2:index} = ${3:initial}; ${2:index} < ${4:final}; ${5:step})\n{\n\t${6:/* code */}\n}'
  'for each in':
    'prefix': 'fore'
    'body': 'for (${1:type} ${2:element}: ${3:container})\n{\n\t${4:/* code */}\n}'
  'include guard':
    'prefix': 'once'
    'body': '#ifndef   ${1:SYMBOL}\n#define   $1\n\n${2:/* code */}\n\n#endif // $1'
  'typedef':
    'prefix': 'typedef'
    'body': 'typedef ${1:oldtype} ${2:newtype};$3'
  'do while loop':
    'prefix': 'do'
    'body': 'do\n{\n\t${0:/* code */}\n} while(${1:/* condition */});'
  'while loop':
    'prefix': 'while'
    'body': 'while (${1:/* condition */})\n{\n\t${2:/* code */}\n}'
  'fprintf':
    'prefix': 'fprintf'
    'body': 'fprintf(${1:stderr}, "${2:%s}\\\\n", $3);$4'
  'if condition':
    'prefix': 'if'
    'body': 'if (${1:/* condition */})\n{\n\t${2:/* code */}\n}'
  'if else':
    'prefix': 'ife'
    'body': 'if (${1:/* condition */})\n{\n\t${2:/* code */}\n}\nelse\n{\n\t${3:/* code */}\n}'
  'if elif':
    'prefix': 'iff'
    'body': 'if (${1:/* condition */})\n{\n\t${2:/* code */}\n}\nelse if (${3:/* condition */})\n{\n\t${4:/* code */}\n}'
  'if elif else':
    'prefix': 'iffe'
    'body': 'if (${1:/* condition */})\n{\n\t${2:/* code */}\n}\nelse if (${3:/* condition */})\n{\n\t${4:/* code */}\n}\nelse\n{\n\t${5:/* code */}\n}'
  'switch statement':
    'prefix': 'switch'
    'body': 'switch (${1:/* expression */})\n{\n\tcase ${2:/* value */}:\n\t\t${4:/* code */}\n\t\tbreak;\n\n${3:\t/* cases */}\n\n\tdefault:\n\t\t${5:/* code */}\n\t\tbreak;\n\n}'
  'case':
    'prefix': 'case'
    'body': '\tcase ${1:/* value */}:\n\t${3:/* code */}\n\tbreak;\n\n${2:/* cases */}'
  'printf':
    'prefix': 'printf'
    'body': 'printf("${1:%s}\\\\n", $2);$3'
  'scanf':
    'prefix': 'scanf'
    'body': 'scanf(\"${1:%s}\\\\n\", $2);$3'
  'struct':
    'prefix': 'struct'
    'body': 'struct ${1:name}\n{\n\t${2:/* data */}\n};'
  'function declaration':
    'prefix': 'fdec'
    'body': '${1:int} ${2:name}(${3:/* arguments */});$4'
  'function definition':
    'prefix': 'fdef'
    'body': '${1:int} ${2:name}(${3:/* arguments */})\n{\n\t${4:/* code */}\n\treturn ${5:0};\n}'
  'write file':
    'prefix': 'wf'
    'body': 'FILE *${1:fp};\n${1:fp} = fopen("${2:filename.txt}","w");\nif (${1:fp}!=NULL)\n{\n\tfprintf(${1:fp},"${3:Some String\\\\n}");\n\tfclose(${1:fp});\n}'
  'read file':
    'prefix': 'rf'
    'body': 'FILE *${1:fp};\n${1:fp} = fopen("${2:filename.txt}","r");\nif (${1:fp}!=NULL)\n{\n\tfscanf(${1:fp},"${3:Some String\\\\n}", ${3:&var});\n\tfclose(${1:fp});\n}'
'.source.cpp, .source.objcpp':
  'enumeration':
    'prefix': 'enum'
    'body': 'enum ${1:name}\n{\n\t${2:/* values */}\n};'
  'enum class':
    'prefix': 'enumc'
    'body': 'enum class ${1:name}\n{\n\t${2:/* values */}\n};'
  'class':
    'prefix': 'class'
    'body': 'class ${1:name}\n{\n\tprotected:\n\t\t${3:/* data */}\n\n\tpublic:\n\t\t${1:name}();\n\t\t${1:name}(${2:/* arguments */});\n\t\t${1:name}(const ${1:name}& rhs);\n\n\t\t${4:/* functions */}\n\n\t\tvirtual ~${1:name}();\n\n};'
  'namespace':
    'prefix': 'ns'
    'body': 'namespace ${1:name}\n{\n\t${2:/* code */}\n} // namespace ${1:name}'
  'cout':
    'prefix': 'sout'
    'body': 'std::cout << ${1:/* message */} << std::endl;$2'
  'cin':
    'prefix': 'sin'
    'body': 'std::cin >> ${1:/* variable */};$2'
  'cerr':
    'prefix': 'serr'
    'body': 'std::cerr << ${1:/* message */} << std::endl;$2'
  'std::map':
    'prefix': 'smap'
    'body': 'std::map<${1:key}, ${2:value}> ${3:m};$4'
  'std::string':
    'prefix': 'sstr'
    'body': 'std::string ${1:str};$2'
  'std::vector':
    'prefix': 'svec'
    'body': 'std::vector<${1:type}> ${2:vec};$3'
  'std::deque':
    'prefix': 'sdeq'
    'body': 'std::deque<${1:type}> ${2:vec};'
  'template specifier':
    'prefix': 'template'
    'body': 'template <typename ${1:type}>$2'
  'output file':
    'prefix': 'outf'
    'body': 'ofstream ${1:ofile}("${2:filename.txt}", ios::out);\nif (${1:ofile}.is_open())\n{\n\t${1:ofile} << "${3:This is a line.}\\\\n";\n\t${1:ofile}.close();\n}'
  'input file':
    'prefix': 'inf'
    'body': 'ifstream ${1:ifile}("${2:filename.txt}", ios::in);\nif (${1:ifile}.is_open())\n{\n\tstring buffer;\n\twhile (getline(myfile,buffer))\n\t{\n\t\tstd::cout << buffer << endl;\n\t}\n\t${1:afile}.close();\n}\nelse\n{\n\tstd::cout << "Unable to open file" << std::endl;\n}'
